<app-user-inputs
  (isLoadingEvent)="isLoadingEventCapture($event)"
  (sortByEvent)="sortByEventCapture($event)" ></app-user-inputs>

<div class="container-fluid" *ngIf="!showUserdetailsComponent">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p class="font-weight-bold float-left" >Total Records: {{totalRecords}}</p>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <ng-container>

            <app-user-details
              *ngFor="let userDetail of userdetails.items | slice: startIdx:endIdx"
              [userdetail]="userDetail"></app-user-details>

          </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ul class="pagination d-flex justify-content-end">
            <li *ngFor="let page of totalRecords|times;let i = index" class="page-item" [ngClass]="{
              'active': selectedPage == i
            }">
              <a class="page-link" style="cursor: pointer" (click)="onClickPage(i)">{{i+1}}</a>
            </li>
          </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>



